<div class="card border-primary">
    <div class="card-header bg-primary text-white">
        About Component
    </div>
    <div class="card-body">
        <h1>Info:</h1>
        <ul>
            <li>Name: {{info.name}}</li>
            <li>Email: {{info.email}}</li>
            <li>Tel: {{info.tel}}</li>
        </ul>

        <div class="form-group">
            <div class="input-group">
                <label for="">Message: </label>
                <input type="text" class="form-control" [(ngModel)]="comment.message">
            </div>

            <button class="btn btn-primary mt-3" (click)="addComment()" [disabled]="newComment">
                Add comment
            </button>
        </div>

     <app-comment [commentList]="comments"></app-comment>
    </div>


</div>


<!-- <h1>Names</h1>
<ul>
    <li *ngFor="let name of names">
        {{name}}
    </li>
</ul> -->