<button class="btn btn-primary" (click)="onAddContact()">
    Add Contact
</button>
<div class="card border-primary mt-3 mb-3">
    <div class="card-header bg-primary text-white">
        Contacts Component
    </div>
    <div class="card-body">
        <div *ngIf="contacts.length>0; else noContact">
            <h3>Contact List</h3>
            <table class="table table-hover">
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr *ngFor="let contact of contacts">
                    <td>{{contact.name}}</td>
                    <td> <a routerLink="/contacts/{{contact.id}}" class="btn btn-success">Detail</a></td>
                   
                    <td> <a routerLink="/contacts/edit/{{contact.id}}" class="btn btn-warning">Edit</a></td>
                    <td> <button (click)="onDeleteContact(contact.id)" class="btn btn-danger">Delete</button></td>
                </tr>

            </table>
        
        </div>
        <div [hidden]="!isWaiting" >
            <div class="spinner-border" role="status">
            </div>
            <h4>Looading... please wait!</h4>
        </div>
        <ng-template #noContact>

            <p *ngIf="!errMsg && !isWaiting" class="alert alert-warning">
                No contact found!
            </p>
            <div *ngIf="errMsg" class="alert alert-danger">
                <strong>Error!</strong> {{errMsg}}
            </div>
        </ng-template>

    </div>

</div>
